#cmain{width:1080px}
/* popup group policy*/
.pl{display:none;width:800px;height:500px;margin-left:-10px}
.pl .ptitle{background:none;text-transform:uppercase;text-align:center;display:block;font-size:17px;margin:0px auto;color:#52B9FB}
.pl .description{display:block;width:700px;height:285px;overflow-Y:scroll;margin:10px auto;text-align:justify}
button.agree{margin:-18px auto auto 180px !important}

/* register form*/
.freg{width:650px;padding:10px auto;background:#fff url(../images/bga.png)}
.freg table{padding:10px auto;}
.freg table tr{margin:10px 0px; padding:10px 0px;clear:both}
.freg table td{width:200px;padding-left:15px}
.freg table td+td{width:300px;padding-left:0px}
#very{float:left;background:#a51e1b url(/images/verybg.gif);color:#A51E1B;cursor:pointer;color:#fff;font-size:20px;font-weight:bold;font-family:Arial Black;text-align:center;width:120px;margin:0px auto}