#cmain{width:1080px}
/* popup group policy*/
.pl{display:none;width:700px;height:500px;margin-left:-10px}
.pl .ptitle{background:none;text-transform:uppercase;text-align:center;display:block;font-size:17px;margin:0px auto;color:#52B9FB}
.pl .description{display:block;width:700px;height:285px;overflow-Y:scroll;margin:10px auto;text-align:justify}
.agree{width:150px}
.agree button{margin:-21px 6px 20px;width:60px;height:31px;background:transparent url(../images/BGB.png) center top no-repeat;float:left}

/* register form*/
.freg{width:700px;padding:10px;background:#fff url(../images/bga.png); border:1px solid #acacac;}
.freg table{padding:10px auto;width:525px; margin:20px 85px}
.freg table tr{margin:10px 0px; padding:10px 0px;clear:both}
.freg table td{width:200px;padding-left:15px}
.freg table td+td{width:300px;padding-left:0px}
.jqTransformInputWrapper,.jqTransformSelectWrapper,.jqTransformSelectWrapper ul{width:100% !important}
.very{float:left;background:#a51e1b url(../images/verybg.gif);color:#A51E1B;cursor:pointer;color:#fff;font-size:20px;font-weight:bold;font-family:Arial Black;text-align:center;width:120px;margin:0px auto}